<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>宣传品（资料）制作申请</title>
    <link rel="stylesheet" href="../../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/public.css"/>
    <link rel="stylesheet" href="../../../css/makeToApplyFor.css"/>
    <link rel="stylesheet" href="../../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
</head>
<body>

<div class="container-fluid setWidth make-to-apply-for">
    <div class="form-table">
        <div class="ft-top">
            <h3 class="text-center">宣传品（资料）制作申请</h3>
            <p class="ft-t-state">
                状态&nbsp;:&nbsp;待审批
            </p>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>申请部门</td>
                <td></td>
                <td>申请时间</td>
                <td></td>
            </tr>
            <tr>
                <td>申请人</td>
                <td></td>
                <td>联系电话</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="font-red">*</span>标题</td>
                <td colspan="3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="pmpTitle"/>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="form-table mid-table" id="mid-table">
            <div class="mt-title">
                <h4>请在以下表格中填写需要领用的宣传物资</h4>
            </div>
            <div class="mt-handle-button-group">
                <button id="mt-btn-add" class="btn btn-default">添加</button>
                <button id="mt-btn-del" class="btn btn-default">删除</button>
            </div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td rowspan="7"><input type="checkbox"/></td>
                    <td>宣传类别</td>
                    <td>
                        <select name="pmcPromotionalCategory" class="form-control input-sm">
                            <option value="宣传（献血、知识）手册" checked="checked">宣传（献血、知识）手册</option>
                            <option value="电梯、海报广告">电梯、海报广告</option>
                            <option value="电视媒体视频（材料）">电视媒体视频（材料）</option>
                            <option value="宣传、活动（指引）单张">宣传、活动（指引）单张</option>
                            <option value="其他">其他</option>
                        </select>
                    </td>
                    <td>宣传品名称</td>
                    <td><input type="text" class="form-control" name="pmcName"/></td>
                </tr>
                <tr>
                    <td>制作方式</td>
                    <td colspan="3">
                        <label class="radio-inline">
                            <input type="radio" value="内部制作" selected name="pmcProductionMethod0" checked="checked"/>内部制作
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="广告公司制作" name="pmcProductionMethod0"/> 广告公司制作
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>要求完成时间</td>
                    <td><input type="date" class="form-control" name="pmcRequestCompletionTime"/></td>
                    <td>规格</td>
                    <td><input type="text" class="form-control" name="pmcSpecification"/></td>
                </tr>
                <tr>
                    <td>单位</td>
                    <td><input type="text" class="form-control" name="pmcUnit"/></td>
                    <td>制作数量</td>
                    <td><input type="number" class="form-control" name="pmcProductionQuantity"/></td>
                </tr>
                <tr>
                    <td>广告公司名称</td>
                    <td colspan="3"><input type="text" class="form-control" name="pmcAdvertisingCompanyName"/></td>
                </tr>
                <tr>
                    <td>广告公司联系人</td>
                    <td><input type="text" class="form-control" name="pmcAdvertisingCompanyContactPerson"/></td>
                    <td>广告公司联系方式</td>
                    <td><input type="text" class="form-control" name="pmcAdvertisingCompanyContactInformation"/></td>
                </tr>
                <tr>
                    <td>费用（元）</td>
                    <td><input type="number" min="0" class="form-control" name="pmcCost"/></td>
                    <td style="background-color: white;" colspan="2"></td>
                </tr>

                </tbody>
            </table>
            <script id="mt-table" type="text/html">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td rowspan="7"><input type="checkbox"/></td>
                        <td>宣传类别</td>
                        <td>
                            <select name="pmcPromotionalCategory" class="form-control input-sm">
                                <option value="宣传（献血、知识）手册" checked="checked">宣传（献血、知识）手册</option>
                                <option value="电梯、海报广告">电梯、海报广告</option>
                                <option value="电视媒体视频（材料）">电视媒体视频（材料）</option>
                                <option value="宣传、活动（指引）单张">宣传、活动（指引）单张</option>
                                <option value="其他">其他</option>
                            </select>
                        </td>
                        <td>宣传品名称</td>
                        <td><input type="text" class="form-control" name="pmcName"/></td>
                    </tr>
                    <tr>
                        <td>制作方式</td>
                        <td colspan="3">
                            <label class="radio-inline">
                                <input type="radio" value="内部制作" name="pmcProductionMethod{{num}}" checked="checked"/>内部制作
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="广告公司制作" name="pmcProductionMethod{{num}}"/> 广告公司制作
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>要求完成时间</td>
                        <td><input type="date" class="form-control" name="pmcRequestCompletionTime"/></td>
                        <td>规格</td>
                        <td><input type="text" class="form-control" name="pmcSpecification"/></td>
                    </tr>
                    <tr>
                        <td>单位</td>
                        <td><input type="text" class="form-control" name="pmcUnit"/></td>
                        <td>制作数量</td>
                        <td><input type="number" class="form-control" name="pmcProductionQuantity"/></td>
                    </tr>
                    <tr>
                        <td>广告公司名称</td>
                        <td colspan="3"><input type="text" class="form-control" name="pmcAdvertisingCompanyName"/></td>
                    </tr>
                    <tr>
                        <td>广告公司联系人</td>
                        <td><input type="text" class="form-control" name="pmcAdvertisingCompanyContactPerson"/></td>
                        <td>广告公司联系方式</td>
                        <td><input type="text" class="form-control" name="pmcAdvertisingCompanyContactInformation"/>
                        </td>
                    </tr>
                    <tr>
                        <td>费用（元）</td>
                        <td><input type="number" min="0" class="form-control" name="pmcCost"/></td>
                        <td style="background-color: white;" colspan="2"></td>
                    </tr>

                    </tbody>
                </table>
            </script>

        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>总费用(元)</td>
                <td>
                    <input id="pmpTotalCost" type="text" class="form-control input-sm" disabled="disabled"/>
                </td>
                <td><input style="opacity: 0;" type="text" class="form-control input-sm"/></td>
            </tr>
            <tr>
                <td>备注</td>
                <td colspan="3">
                    <textarea id="pmpRemarks" class="form-control" rows="3"></textarea>
                </td>
            </tr>
            <tr>
                <td>附件</td>
                <td colspan="3">
                    <div class="upload-file">
                        <div class="uf-button">
                            <button id="uf-btn-upload" class="btn btn-default"><span
                                    class="glyphicon glyphicon-plus"></span>添加
                            </button>
                            <form id="uf-form" method="post" action="/uploadAnnex" target="uf-frame"
                                  encoding="multipart/form-data" enctype="multipart/form-data">
                                <input id="uf-input-upload" type="file"/>
                            </form>
                            <iframe id="uf-frame" name="uf-frame" style="visibility:hidden;height: 0;border: 0;"></iframe>
                        </div>
                        <div class="uf-file-list"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>领导审批意见</td>
                <td colspan="3">
                    <textarea id="" class="form-control" rows="3"></textarea>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="form-table-bottom">
        <div class="ft-b-left">
            <div class="ft-b-l-top">
                <form class="form-inline">
                    <label class="checkbox-inline">选择常用意见&nbsp;:</label>
                    <select name="" class="form-control">
                        <option value="">--------------------------请选择----------------------------</option>
                    </select>
                </form>
            </div>
            <div class="ft-b-l-bottom">
                <div class="ft-b-l-b-top">
                    填写审批意见&nbsp;:
                    <a href="javascript:;">添加为常用意见</a>
                </div>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </div>
        <div class="ft-b-right">
            <div class="ft-b-r-top">
                功能操作&nbsp;:
                <label class="checkbox-inline">
                    <input type="checkbox" value=""/> 同步发送短信通知
                </label>
            </div>
            <div class="ft-b-r-bottom">
                <div class="ft-b-r-b-left">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>送科室领导</button>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>送部门领导</button>
                    <br/>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>送中心领导</button>
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span>退回拟稿人</button>
                </div>
                <div class="ft-b-r-b-right">
                    <p>
                        <a id="readFliwImg" href="javascript:;">查看流程图</a>
                    </p>
                    <p>
                        <a href="javascript:;">查看流程跟踪</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<input type="button" id="submitBut" value="测试按钮"/>-->
<script type="text/javascript" src="../../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<!--[if IE 8 ]>
<script type="text/javascript" src="../../vendor/es5-shim/es5-shim.min.js"></script>
<script type="text/javascript" src="../../vendor/es5-shim/es5-sham.min.js"></script>
<![endif]-->
<script type="text/javascript" src="../../../vendor/template-web-min.js"></script>
<script type="text/javascript" src="../../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../../js/public.js"></script>
<script type="text/javascript">
    var winH = window.screen.height,
            winW = window.screen.width;
    /*$(".ft-b-r-b-left").on("click", "button", function () {
     window.open('../../public/submitToDealWith.html', '提交办理', 'height=503, width=760, top=' + (winH - 503) / 2 + ', left=' + (winW - 760) / 2 + ', toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')
     });*/
    //查看流程图
    $("#readFliwImg").on("click", function () {
        window.open('/goFlowChart', '查看流程图', 'height=525, width=840, top=' + (window.screen.height - 525) / 2 + ', left=' + (window.screen.width - 840) / 2 + ', toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')
    });


    // TODO 初始化时应该要获取登陆用户的信息，填充显示

    $(function () {
        listenerForpmcProductionQuantityAndpmcCost();
    });

    // 计算总费用
    function calculatePMPTotalCost() {
        var pmcCosts = $("[name='pmcCost']");
        var pmcProductionQuantitys = $("[name='pmcProductionQuantity']");
        var pmpTotalCost = 0;
        for (var i = 0; i < pmcCosts.length; i++) {
            if (pmcCosts[i].value != "" && pmcProductionQuantitys[i].value != "") {
                pmpTotalCost += pmcCosts[i].value * pmcProductionQuantitys[i].value;
            }
        }
        return pmpTotalCost;
    }

    // 给 pmc 数量 和 费用 输入框添加 监听
    function listenerForpmcProductionQuantityAndpmcCost() {
        $("[name='pmcProductionQuantity']").change(function () {
            // 显示 总费用
            $("#pmpTotalCost").val(calculatePMPTotalCost());
        });
        $("[name='pmcCost']").change(function () {
            // 显示 总费用
            $("#pmpTotalCost").val(calculatePMPTotalCost());
        });
    }
    fv.init($('#pmpTitle'), "标题");
    // 提交按钮点击事件
    $(".ft-b-r-b-left").on("click", "button", function () {
        var pmcPromotionalCategorys = $("[name='pmcPromotionalCategory']");
        var pmcNames = $("[name='pmcName']");
//        var pmcProductionMethods = $("[name='pmcProductionMethod']");
        var pmcRequestCompletionTimes = $("[name='pmcRequestCompletionTime']");
        var pmcSpecifications = $("[name='pmcSpecification']");
        var pmcUnits = $("[name='pmcUnit']");
        var pmcProductionQuantitys = $("[name='pmcProductionQuantity']");
        var pmcAdvertisingCompanyNames = $("[name='pmcAdvertisingCompanyName']");
        var pmcAdvertisingCompanyContactPersons = $("[name='pmcAdvertisingCompanyContactPerson']");
        var pmcAdvertisingCompanyContactInformations = $("[name='pmcAdvertisingCompanyContactInformation']");
        var pmcCosts = $("[name='pmcCost']");

        // 构建 宣传品内容 集合 开始
        var propagandaMaterialsContents = new Array();
        for (var i = 0; i < pmcPromotionalCategorys.length; i++) {
            var pmc = {};
            if (pmcPromotionalCategorys[i].value != "") {
                pmc.promotionalCategory = pmcPromotionalCategorys[i].value;
            }
            if (pmcNames[i].value != "") {
                pmc.name = pmcNames[i].value;
            }
            var pmcProductionMethodInputName = "pmcProductionMethod" + i;
            if ($('input[name="' + pmcProductionMethodInputName.toString() + '"]:checked ').val() != "") {
                pmc.productionMethod = $('input[name="' + pmcProductionMethodInputName.toString() + '"]:checked ').val();
            }
            if (pmcRequestCompletionTimes[i].value != "") {
                pmc.requestCompletionTime = pmcRequestCompletionTimes[i].value;
            }
            if (pmcSpecifications[i].value != "") {
                pmc.specification = pmcSpecifications[i].value;
            }
            if (pmcUnits[i].value != "") {
                pmc.unit = pmcUnits[i].value;
            }
            if (pmcProductionQuantitys[i].value != "") {
                pmc.productionQuantity = pmcProductionQuantitys[i].value;
            }
            if (pmcAdvertisingCompanyNames[i].value != "") {
                pmc.advertisingCompanyName = pmcAdvertisingCompanyNames[i].value;
            }
            if (pmcAdvertisingCompanyContactPersons[i].value != "") {
                pmc.advertisingCompanyContactPerson = pmcAdvertisingCompanyContactPersons[i].value;
            }
            if (pmcAdvertisingCompanyContactInformations[i].value != "") {
                pmc.advertisingCompanyContactInformation = pmcAdvertisingCompanyContactInformations[i].value;
            }
            if (pmcCosts[i].value != "") {
                pmc.cost = pmcCosts[i].value;
            }

            propagandaMaterialsContents.push(pmc);
        }
        // 构建 宣传品内容集合 结束

        // 构建 宣传品 开始
        var pmp = {};
        if ($("#pmpTitle").val() != "") {
            pmp.title = $("#pmpTitle").val();
        }
        // 由后台计算
//            if( $("#pmpTotalCost").val() != "" ){
//                pmp.totalCost = $("#pmpTotalCost").val() ;
//            }
        if ($("#pmpRemarks").val() != "") {
            pmp.remarks = $("#pmpRemarks").val();
        }
        pmp.propagandaMaterialsContents = propagandaMaterialsContents;
        // 构建宣传品 结束

        console.log(pmp);
        sumbitSave(pmp);

    });

    // 发送请求
    function sumbitSave(query) {
        if (fv.isNull($('#pmpTitle'), "标题")) {
            loading.show();
            $.ajax({
                type: "POST",
                url: "/addPropagandaMaterialsProduced",
                data: JSON.stringify(query),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    loading.hide();
                    message.add("保存成功");
                    window.location.href = "/propagandaBusiness/propagandaMaterialsRecipients/goPropagandaMaterialsRecipientsQuery";
                }
            });
        }
    }

    //添加表格的一行
    $mid_table = $('.mid-table');
    $mid_table.find('#mt-btn-add').on('click', function () {
        var index = $('#mid-table table').length;
        var mt_tr_html = template("mt-table", {num: index});
        $('.mid-table').append(mt_tr_html);
        listenerForpmcProductionQuantityAndpmcCost();
    });
    //删除
    $mid_table.find('#mt-btn-del').on('click', function () {
        var $checkeds = $mid_table.find('tbody input[type="checkbox"]:checked');
        if ($checkeds.length > 0) {
            $checkeds.each(function () {
                $(this).parents('table').remove();
            });
            var $tables = $('#mid-table table');
            $tables.each(function (i) {
                $(this).find('input[type="radio"]').attr('name', "pmcProductionMethod" + i);
            });
        } else {
            message.add("请先选择一条或多条数据", "warning")
        }

        if (!$mid_table.find('td input[type="checkbox"]').length) {
            $mid_table.find('th input[type="checkbox"]').prop('checked', false);
        }
    });

</script>
</body>

</html>