<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>宣传工作总结报告列表</title>
    <link rel="stylesheet" href="../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../css/newPublicityPlanList.css"/>
    <link rel="stylesheet" href="../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
</head>

<body>
<div class="container-fluid setMinWidth new-publicity-plan-list">
    <div class="handle-top">
        <form class="form-inline">
            <div class="form-group">
                <label>标题:</label>
                <input name="title" id="title" type="text" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label>拟稿人:</label>
                <input name="draftMan" id="draftMan" type="text" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label>拟稿时间:</label>
                <input name="draftDate" id="draftDate" type="date" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label>状态:</label>
                <select name="approvalStatus" id="approvalStatus" class="form-control input-sm">
                    <option value="100">全部</option>
                    <option value="0">拟稿中</option>
                    <option value="1">审核中</option>
                    <option value="2">已完成</option>
                    <option value="3">已归档</option>
                </select>
            </div>
            <button type="button" class="btn btn-default btn-sm" id="query">
                <span class="glyphicon glyphicon-search"></span>
                查询
            </button>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-repeat"></span>
                重置
            </button>
        </form>
    </div>
    <div class="handle-button-group">
        <a href="/propagandaBusiness/goPropagandaWorkSummaryApply" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> 新建
        </a>
        <button type="button" class="btn btn-default btn-sm" id="file-Btn">
            <span class="glyphicon glyphicon-file"></span> 归档
        </button>
        <button type="button" class="btn btn-default btn-sm" id="del-Btn">
            <spam class="glyphicon glyphicon-remove"></spam>
            删除
        </button>
    </div>
    <div class="data-table">
        <table class="table table-bordered table-hover checked-table" id="table">
        </table>
    </div>
    <div class="page">
        <ul class="pagination pagination-sm">
            <li class="disabled">
                <span href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
            <li class="active">
                <span href="#">1</span>
            </li>
            <li>
                <span href="#">2</span>
            </li>
            <li>
                <span href="#">3</span>
            </li>
            <li>
                <span href="#">4</span>
            </li>
            <li>
                <span href="#">5</span>
            </li>
            <li>
                <span href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
            <li class="li-page-handle">
                转到第
                <input type="text" class="form-control input-sm"/> 页
                <button type="button" class="btn btn-default btn-sm">
                    GO
                </button>
            </li>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../../vendor/template-web-min.js"></script>
<script type="text/javascript" src="../../js/public.js"></script>
</body>
<script id="data_table" type="text/html">
    <thead>
    <tr>
        <th><input type="checkbox"/></th>
        <th>No.</th>
        <th>标题</th>
        <th>拟稿部门</th>
        <th>拟稿人</th>
        <th>拟稿时间</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    {{each content as index i}}
    <tr>
        <td><input type="checkbox" data-id="{{index.id}}"/></td>
        <td>{{i+1}}</td>
        <td><a href="/propagandaBusiness/goPropagandaWorkSummaryDetails/{{index.id}}">{{index.title}}</a></td>
        <td>{{index.draftMan.organization.name}}</td>
        <td>{{index.draftMan.name}}</td>
        <td>{{index.draftDate}}</td>
        <td>
            {{if index.approvalStatus == 0}}
            <span class="font-red">
                            拟稿中
                        </span>
            {{else if index.approvalStatus == 1}}
            <span class="font-red">
                            审核中
                        </span>
            {{else if index.approvalStatus == 2}}
            <span class="font-red">
                            已完成
                        </span>
            {{else if index.approvalStatus == 3}}
            <span class="font-red">
                            已归档
                        </span>
            {{/if}}
        </td>
    </tr>
    {{/each}}
    </tbody>
</script>
<script>
    $(function () {
        var $data = {
            "currentPage": "0",
            "size": "10",
            "title": "",
            "draftMan": "",
            "draftDate": "",
            "approvalStatus": "100"
        };

        //调用ajax进行查询
        query($data);
    })

    var currentQuery = {};

    $("#query").on('click',
        function () {
            var title = $("#title").val();
            var draftMan = $("#draftMan").val();
            var draftDate = $("#draftDate").val();
            var approvalStatus = $("#approvalStatus").val();

            var $data = {
                "currentPage": "0",
                "size": "10",
                "title": title,
                "draftMan": draftMan,
                "draftDate": draftDate,
                "approvalStatus": approvalStatus
            };
            //调用ajax进行查询
            query($data);
        }
    )

    $("#file-Btn").on('click',
        function () {
            var $data = [];
            var $inputs = $("#table").find("tbody input[type='checkbox']:checked");
            $inputs.each(function () {
                $data.push($(this).attr('data-id'));
            });
            console.log($data);
            //调用ajax进行删除
            archiveFile($data);
        }
    )

    //调用后台归档方法
    function archiveFile($data) {
        $.ajax({
            type: "GET",
            url: "/filePropagandaWorkSummary",
            data: "ids=" + $data,
            success: function (data) {
                message.add("归档 : " + data, "warning");
                query(currentQuery);
            }
        });
    }

    $("#del-Btn").on('click',
        function () {
        loading.show();
            var $data = [];
            var $inputs = $("#table").find("tbody input[type='checkbox']:checked");
            $inputs.each(function () {
                $data.push($(this).attr('data-id'));
            });
            //调用ajax进行删除
            deleted($data);
        }
    )

    //调用后台删除方法
    function deleted($data) {
        $.ajax({
            type: "GET",
            url: "/deletePropagandaWorkSummary",
            data: "ids=" + $data,
            success: function (data) {
                query(currentQuery);
                message.add("删除 : " + data, "warning");
            }
        });
    }

    function query($data) {
        loading.show();
        $.ajax({
            type: "GET",
            url: "/getPropagandaWorkSummaryForPage",
            data: $data,
            dataType: "json",
            success: function (data) {
                var html = template('data_table', data);
                document.getElementById('table').innerHTML = html;
                currentQuery = $data;
                loading.hide();
            }
        });
    }
</script>
</html>