<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" href="../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../css/categoryManagement.css"/>
    <link rel="stylesheet" href="../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
    <style>
        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .handel-btn .btn {
            padding: 6px 40px;
            margin: 0 10px;
        }

    </style>
</head>

<body>
<div class="container-fluid setWidth">
    <div class="form-table">
        <div class="ft-top">
            <h3 class="text-center">添加用户</h3>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>
                    <span class="font-red"> *</span>
                    用户名

                </td>
                <td>
                    <div class="form-group">
                        <input id="username" name="username" type="text" class="form-control input-sm"/>
                    </div>
                </td>
                <td>
                    <span class="font-red">
                *</span>密码
                </td>
                <td>
                    <div class="form-group">
                        <input id="password" name="password" type="password" class="form-control input-sm"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="font-red">
                 *</span>姓名
                </td>
                <td>
                    <div class="form-group">
                        <input id="name" name="name" type="text" class="form-control input-sm"/>
                    </div>
                </td>
                <td>性别</td>
                <td>
                    <label class="radio-inline">
                        <input type="radio" value="男" name="sex" checked>男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" value="女" name="sex">女
                    </label>
                </td>
            </tr>
            <tr>
                <td>职务</td>
                <td><input id="post" name="post" type="text" class="form-control input-sm"/></td>
                <td>联系电话
                <td>
                    <input id="phoneNumber" name="phoneNumber" type="text" class="form-control input-sm"/>
                </td>
            </tr>
            <tr>
                <td>邮件地址</td>
                <td colspan="3">
                    <input id="email" name="email" type="text" class="form-control input-sm"/>
                </td>
            </tr>
            <tr>
                <td><span class="font-red">*</span>所在部门
                <td colspan="3">
                    <div class="form-group mt-select">
                        <input id="department" type="text" class="form-control input-sm">
                        <div id="tree"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="handel-btn">
        <button class="btn btn-primary" id="saveUser">保存</button>
        <button class="btn btn-default" id="cancel">取消</button>
    </div>
</div>
<script type="text/javascript" src="../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../js/public.js"></script>
</body>

<script>
    fv.init($('#username'), "用户名");
    fv.init($('#password'), "密码");
    fv.init($('#name'), "姓名");
    fv.init($('#department'), "部门");
    $('#cancel').on('click', function () {
        history.back();
    });
    var $tree = $("#tree"),
            $selectInput = $(".mt-select input");
    $selectInput.on("click", function () {
        $tree.slideToggle(200);
        return false;
    });
    $('body').on('click', function () {
        $tree.slideUp(200);
    })
    loading.show("加载数据中...");
    $.ajax({
        type: "GET",
        url: "/getOrganizationTree",
        data: {
            type: "selectTree"
        },
        success: function (data) {
            //console.log(data);
            $tree.treeview({
                data: data,
                showBorder: false,
            });
            $tree.on('nodeSelected', function (event, data) {
                $tree.slideUp(200);
                $selectInput.val(data.text);
                $selectInput.data('treeId', data.id)
            });
            $tree.on('click', function () {
                return false;
            });
            loading.hide();
        }
    });

    $("#saveUser").on('click', function () {
        if (fv.isNull($('#username'), "用户名")
                && fv.isNull($('#password'), "密码")
                && fv.isNull($('#name'), "姓名")
                && fv.isNull($('#department'), "部门")) {
            var $data = {
                "email": $("#email").val(),
                "id": null,
                "name": $("#name").val(),
                "organization": {
                    "id": $selectInput.data('treeId')
                },
                "password": $("#password").val(),
                "phoneNumber": $("#phoneNumber").val(),
                "post": $("#post").val(),
                "sex": $("input[name='sex']:checked").val(),
                "username": $("#username").val()
            }
            if (userData == null) {
                $.ajax({
                    type: "POST",
                    url: "/addUser",
                    data: JSON.stringify($data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        loading.hide();
                        self.location.href = "/systemManagement/goUserList";
                    }
                });
            } else {
                $data.id = userData.id;
                $.ajax({
                    type: "POST",
                    url: "/editUser",
                    data: JSON.stringify($data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        loading.hide();
                        self.location.href = "/systemManagement/goUserList";
                    }
                });
            }

        }
    });
    var userData = null;
    window.onload = function () {
        var urlStr = location.href,
                id = urlStr.substring(urlStr.lastIndexOf('/') + 1);
        if (id != "goAddUser") {
            $('.ft-top h3').text("修改用户信息");
            loading.show();
            $.ajax({
                type: "get",
                url: ' /getUser/' + id,
                success: function (data) {
                    console.log(data);
                    userData = data;
                    $('#username').val(data.username);
                    $('#password').val(data.password);
                    $('#name').val(data.name);
                    $('#post').val(data.post);
                    $('#phoneNumber').val(data.phoneNumber);
                    $('#email').val(data.email);
                    $('#department').val(data.organization.name);
                    $('#department').data('treeId', data.organization.id)
                    $('input[value="sex"]').attr("checked", false);
                    $("input[type='radio'][name='sex'][value='" + data.sex + "']").attr("checked", true);
                    loading.hide();
                }
            })
        }
    }
</script>

</html>