<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组织机构列表</title>
    <link rel="stylesheet" href="../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../css/categoryManagement.css"/>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
    <style>
        .modal-table .table td:first-child{
            width: auto;
        }
    </style>
</head>
<body>
<div class="container-fluid setMinWidth">
    <div class="handle-top">
        <form class="form-inline">
            <div class="form-group">
                <label>组织机构名称:</label>
                <input type="text" class="form-control input-sm" name="title" id="title"/>
            </div>
            <div class="form-group">
                <label>上级的组织机构:</label>
                <input type="text" class="form-control input-sm" name="applicant" id="applicant"/>
            </div>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-search"></span>
                查询
            </button>
            <button id="btn-reset" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-repeat"></span>
                重置
            </button>
        </form>
    </div>
    <div class="handle-button-group">
        <button
                class="btn btn-default btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">
            <span class="glyphicon glyphicon-plus"></span> 新建
        </button>
        <button class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-file"></span> 修改
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span>
            删除
        </button>
    </div>
    <div class="data-table">
        <table class="table table-bordered table-hover checked-table">
            <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>No.</th>
                <th>组织机构id</th>
                <th>组织机构名称</th>
                <th>上级的组织机构id</th>
                <th>上级的组织机构</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>test</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="page">
        <ul class="pagination pagination-sm">
            <li class="disabled">
						<span href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</span>
            </li>
            <li class="active">
                <span href="#">1</span>
            </li>
            <li>
                <span href="#">2</span>
            </li>
            <li>
                <span href="#">3</span>
            </li>
            <li>
                <span href="#">4</span>
            </li>
            <li>
                <span href="#">5</span>
            </li>
            <li>
                <span href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
            <li class="li-page-handle">
                转到第
                <input type="text" class="form-control input-sm"/> 页
                <button type="button" class="btn btn-default btn-sm">
                    GO
                </button>
            </li>
        </ul>
    </div>
    <!--模态框-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-table">
                        <h3>组织机构操作</h3>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="font-red">*</span> 上级的组织机构
                                </td>
                                <td colspan="3">
                                    <div class="mt-select">
                                        <input type="text" class="form-control input-sm">
                                        <div id="tree"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-red">*</span> 组织机构名称
                                </td>
                                <td colspan="3">

                                    <input type="text" class="form-control input-sm">

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--模态框end-->
</div>
<script type="text/javascript" src="../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../vendor/template-web-min.js"></script>
<script type="text/javascript" src="../../js/public.js"></script>
<script>
    var $tree = $("#tree"),
            $selectInput = $(".mt-select input");
    $selectInput.on("click", function () {
        $tree.slideToggle(200);
        return false;
    });
    $('.modal').on('click', function () {
        $tree.slideUp(200);
    })

    $.ajax({
        type: "GET",
        url: "/getOrganizationTree",
        data:{
            type : "selectTree"
        },
        success: function (data) {
            console.log(data);
            $tree.treeview({
                data: data,
                showBorder: false,
            });
        }
    });


    $tree.on('nodeSelected', function (event, data) {
        //console.log(data);
        $selectInput.val(data.text);
        $selectInput.data('treeId', data.id)
        if (!data.nodes) {
            $tree.slideUp(200);
            console.log($selectInput.data('treeId'))

        }
        ;
    });
    $tree.on('click', function () {
        return false;
    });
</script>
</body>
</html>