<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组织机构列表</title>
    <link rel="stylesheet" href="../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../css/categoryManagement.css"/>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
    <style>
        .modal-table .table td:first-child {
            width: auto;
        }
    </style>
</head>
<body>
<div class="container-fluid setMinWidth">
    <div class="handle-button-group">
        <button id="btn-add" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> 新建
        </button>
        <button id="btn-edit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-file"></span> 修改
        </button>
        <button id="btn-del" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span>
            删除
        </button>
    </div>
    <div class="data-table">
        <div id="table-tree"></div>
    </div>
    <!--模态框-->
    <div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-table">
                        <h3>组织机构操作</h3>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="font-red">*</span> 上级的组织机构
                                </td>
                                <td colspan="3">
                                    <div class="mt-select">
                                        <input type="text" class="form-control input-sm">
                                        <div id="tree"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-red">*</span> 组织机构名称
                                </td>
                                <td colspan="3">
                                    <input id="newOrganization" type="text" class="form-control input-sm">
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="modal-btn-save" type="button" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--模态框end-->
</div>
<script type="text/javascript" src="../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../vendor/template-web-min.js"></script>
<script type="text/javascript" src="../../js/public.js"></script>
<script>
    var $tree = $("#tree"),
            $selectInput = $(".mt-select input"),
            $newOrganization = $('#newOrganization'),
            node_checked_arr = [];
    var modalTree = null, tableTree = null;
    $selectInput.on("click", function () {
        $tree.slideToggle(200);
        return false;
    });
    $('.modal').on('click', function () {
        $tree.slideUp(200);
    })
    $('#btn-add').on('click', function () {
        $selectInput.val('');
        $selectInput.data('treeId', '');
        $newOrganization.val('');
        $('#modal').modal('show');
    });
    $('#btn-del').on('click', function () {
        if (node_checked_arr.length) {
            console.log(node_checked_arr);
            organizationDel(node_checked_arr);
        } else {
            message.add("你没有选择信息", "warning");
        }
    });

    function organizationDel(node_checked_arr) {
        $.ajax({
            type: "GET",
            url: "/deletedOrganization",
            data: "ids=" + node_checked_arr,
            dataType: "json",
            success: function (data) {
                console.log(data);
                getData();
            }
        });
    }
    getData();

    $('#modal-btn-save').on('click', function () {
        var pid = $selectInput.data('treeId');
        pText = $selectInput.val();
        pid = pText == "" ? '' : pid;
        var newOrganization = $("#newOrganization").val();
        var id = $newOrganization.attr('data-id') || null;
        /*if (pid == undefined || pid == '') {
         message.add("请先选择上级组织机构", "warning");
         return false;
         }*/
        if (newOrganization == '') {
            message.add("请先填写新的组织机构名称", "warning");
            return false;
        }
        var $data = {
            "id": id,
            "name": newOrganization,
            "pid": pid
        };
        $('#modal').modal('hide');
        loading.show();
        if (editNode == null) {//添加
            $.ajax({
                type: "POST",
                url: "/addOrganization",
                data: JSON.stringify($data),
                contentType: "application/json",
                dataType: "json",
                success: function (data) {
                    loading.hide();
                    message.add("添加成功");
                    getData();
                }
            })
        } else {//修改
            if ($data.id == $data.pid) {
                $.ajax({
                    type: "POST",
                    url: "/editOrganization",
                    data: JSON.stringify($data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        loading.hide();
                        message.add("修改成功");
                        getData();
                    }
                });
            } else {
                loading.hide();
                message.add("修改失败，不能选择自身为父节点", "error");
            }
        }

    });
    function getData() {
        loading.show("加载数据中...");
        $.ajax({
            type: "GET",
            url: "/getOrganizationTree",
            data: {
                type: "selectTree"
            },
            success: function (data) {
                console.log(data);
                renderTree(data);
                loading.hide();
                node_checked_arr = [];
                editNode = null;
            }
        });
    }
    function renderTree(data) {
        modalTree = $tree.treeview({
            data: data,
            showBorder: false,
        });
        $tree.on('nodeSelected', function (event, data) {
            $tree.slideUp(200);
            $selectInput.val(data.text);
            $selectInput.data('treeId', data.id)
        });
        $tree.on('click', function () {
            return false;
        });
        tableTree = $('#table-tree').treeview({
            data: data,
            showCheckbox: true,
            selectedBackColor: '#fff',
            selectedColor: '#000',
            onNodeChecked: function (event, node) {
                node_checked_arr.push(node.id);
                editNode = node;
            },
            onNodeUnchecked: function (event, node) {
                for (var i = 0, l = node_checked_arr.length; i < l; i++) {
                    if (node_checked_arr[i] == node.id) {
                        node_checked_arr.splice(i, 1);
                        break;
                    }
                }

            }
        });
    }
    var editNode = null;
    $('#btn-edit').on('click', function () {
        if (node_checked_arr.length == 1) {
            console.log(editNode);
            $selectInput.val("");
            $selectInput.data('treeId', editNode.parentId);
            $newOrganization.val(editNode.text);
            $newOrganization.attr('data-id', editNode.id);
            $('#modal').modal('show');
        } else {
            message.add("请选择一条信息", "warning");
        }
    });
</script>
</body>
</html>