<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
    <style>
        #tree {
            display: none;
            position: fixed;
            margin-left: 75px;
            border: 1px solid #ddd;
            background-color: white;
            z-index: 10;
        }

        .list-group {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div class="container-fluid setMinWidth recipients-to-apply-for-list">
    <div class="handle-top">
        <form class="form-inline">
            <div class="form-group">
                <label>姓名：</label>
                <input type="text" class="form-control input-sm" name="name" id="name"/>
            </div>
            <div class="form-group">
                <label>性别：</label>
                <select class="form-control input-sm" name="sex" id="sex">
                    <option value="">全部</option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select>
            </div>
            <div class="form-group">
                <div class="mt-select">
                    <label>所在部门：</label> <input type="text" class="form-control input-sm">
                    <div id="tree"></div>
                </div>
            </div>
            <div class="form-group">
                <label>职务:</label>
                <select class="form-control input-sm" name="post" id="post">
                    <option value="">全部</option>
                    <option value="干事">干事</option>
                </select>
            </div>
            <button type="button" class="btn btn-default btn-sm" id="query">
                <span class="glyphicon glyphicon-search"></span>
                查询
            </button>
            <button id="btn-reset" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-repeat"></span>
                重置
            </button>
        </form>
    </div>
    <div class="handle-button-group">
        <a href="/systemManagement/goAddUser"
           class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> 新建
        </a>
        <a href="/systemManagement/goAddUser"
           class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-file"></span> 修改
        </a>
        <button type="button" class="btn btn-default btn-sm" id="deletedUser">
            <span class="glyphicon glyphicon-remove"></span>
            删除
        </button>
    </div>
    <div class="data-table">
        <table class="table table-bordered table-hover checked-table" id="table">
        </table>
    </div>
    <div class="page">
        <ul class="pagination pagination-sm" id="page">
        </ul>
    </div>
</div>

<script type="text/javascript" src="../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../vendor/template-web-min.js"></script>
<script type="text/javascript" src="../../js/public.js"></script>
<script id="data_table" type="text/html">
    <thead>
    <tr>
        <th><input type="checkbox"></th>
        <th>No.</th>
        <th>姓名</th>
        <th>用户名</th>
        <th>性别</th>
        <th>职务</th>
        <th>联系电话</th>
        <th>邮件地址</th>
        <th>所在部门</th>
    </tr>
    </thead>
    <tbody>
    {{each content as index i}}
    <tr>
        <td><input type="checkbox" data-id="{{index.id}}"/></td>
        <td>{{i+1}}</td>
        <td><a class="open-win" href="/systemManagement/goDetailsUser/{{index.id}}">{{index.name}}</a></td>
        <td>{{index.username}}</td>
        <td>{{index.sex}}</td>
        <td>{{index.post}}</td>
        <td>{{index.phoneNumber}}</td>
        <td>{{index.email}}</td>
        <td>{{index.organization.name}}</td>
    </tr>
    {{/each}}
    </tbody>
</script>
<script id="pageTemplate" type="text/html">
    {{if page==0}}
    <li class="disabled prev">
        {{else}}
    <li class="prev">
        {{/if}}
        <span href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </span>
    </li>

    <% for(var i = 1; i <= totalPages; i++){ %>
    {{if totalPages==i}}
    <li class="active page-item">
        {{else}}
    <li class="page-item">
        {{/if}}
        <span href="#"><%= i %></span>
    </li>
    <% } %>

    {{if page==totalPages-1}}
    <li class="disabled next">
        {{else}}
    <li class="next">
        {{/if}}
        <span href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
         </span>
    </li>
    <li class="li-page-handle">
        转到第
        <input type="text" class="form-control input-sm"/> 页
        <button type="button" class="btn btn-default btn-sm">
            GO
        </button>
    </li>
</script>

<script>
    var currentQeury = {
        "currentPage": "0",
        "size": "10",
        "name": "",
        "sex": "",
        "organization": "",
        "post": ""
    };
    //调用ajax进行查询
    query(currentQeury);
    var $tree = $("#tree"),
            $selectInput = $(".mt-select input");
    $selectInput.on("click", function (e) {
        console.log(e);
        $tree.slideToggle(200);
        return false;
    });
    $('body').on('click', function () {
        $tree.slideUp(200);
    });
    loading.show("加载数据中...");
    $.ajax({
        type: "GET",
        url: "/getOrganizationTree",
        data: {
            type: "selectTree"
        },
        success: function (data) {
            //console.log(data);
            $tree.treeview({
                data: data,
                showBorder: false,
            });
            $tree.on('nodeSelected', function (event, data) {
                $tree.slideUp(200);
                $selectInput.val(data.text);
                $selectInput.data('treeId', data.id)
            });
            $tree.on('click', function () {
                return false;
            });
            loading.hide();
        }
    });


    $("#query").on('click',
            function () {
                var $name = $("#name").val();
                var $sex = $("#sex").val();
                var $organization = $("#organization").val();
                var $post = $("#post").val();

                var $data = {
                    "currentPage": "0",
                    "size": "10",
                    "name": $name,
                    "sex": $sex,
                    "organization": $selectInput.data('treeId'),
                    "post": $post
                };
                //调用ajax进行查询
                query($data);
            }
    )

    $("#deletedUser").on('click', function () {
        var $data = [];
        var $inputs = $("#table").find("tbody input[type='checkbox']:checked");
        $inputs.each(function () {
            $data.push($(this).attr('data-id'));
        });
        $.ajax({
            type: "GET",
            url: "/deletedUser",
            data: "ids=" + $data,
            success: function () {
                query(currentQuery);
            }
        });
    })


    function query($data) {
        loading.show();
        $.ajax({
            type: "GET",
            url: "/getUsersForPage",
            data: $data,
            dataType: "json",
            success: function (data) {
                console.log(data);
                var html = template('data_table', data);
                document.getElementById('table').innerHTML = html;
                currentQeury.totalPages = data.totalPages;
                var pageStr = template('pageTemplate', currentQeury);
                document.getElementById('page').innerHTML = pageStr;
                loading.hide();
            }
        });
    }
    $('#page').on('click', 'li', function () {
        if ($(this).hasClass("page-item")) {
            if (!$(this).hasClass("active")) {
                console.log("去到第" + $(this).text() + "页");
                currentQeury.currentPage = $(this).text() - 1;
                query(currentQeury);
            }
        } else if ($(this).attr("aria-label") == "Previous" && currentQeury.currentPage > 0) {
            console.log("上一页");
            currentQeury.currentPage -= 1;
            query(currentQeury);
        }
        else if ($(this).attr("aria-label") == "Next" && currentQeury.currentPage + 1 < currentQeury.totalPages) {
            console.log("下一页");
            currentQeury.currentPage += 1;
            query(currentQeury);
        }
    });
    $('#page').on('click', 'button', function (e) {
        var page = $(this).prev('input').val();
        if (!isNaN(page)) {
            if (page > 0 && page <= currentQeury.totalPages) {
                currentQeury.totalPages = page - 1;
                query(currentQeury);
            }
        }
        return false;
    });
    goDeatil($("#table"), 'open-win');
</script>
</body>
</html>