<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8"/>
    <title>宣传信息类别管理</title>
    <link rel="stylesheet" href="../../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../../css/public.css"/>
    <link rel="stylesheet" href="../../../css/categoryManagement.css"/>
    <link rel="stylesheet" href="../../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
</head>

<body>
<div class="container-fluid setMinWidth category-management">
    <div class="handle-top">
        <form class="form-inline">
            <div class="form-group">
                <label>类别:</label>
                <input id="category" type="text" class="form-control input-sm"/>
            </div>
            <div class="form-group">
                <label>媒介:</label>
                <input id="medium" type="text" class="form-control input-sm"/>
            </div>
            <button type="button" id="query" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-search"></span>
                查询
            </button>
            <button type="button" id="reset" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-repeat"></span>
                重置
            </button>
        </form>
    </div>
    <div class="handle-button-group">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">
            <span class="glyphicon glyphicon-plus"></span>
            新建
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove"></span>
            删除
        </button>
    </div>
    <div class="data-table">
        <table class="table table-bordered table-hover checked-table">
            <thead>
            <tr>
                <th><input type="checkbox"/></th>
                <th>No.</th>
                <th>标题(内容)</th>
                <th>状态</th>
                <th>创建人</th>
                <th>最后修改时间</th>
            </tr>
            </thead>
            <tbody id="categoryTable">
            </tbody>
        </table>
    </div>
</div>
<!--模态框-->
<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-table">
                    <h3>宣传信息类别配置</h3>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>
                                <span class="font-red">*</span> 上级目录
                            </td>
                            <td>
                                <div class="mt-select">
                                    <input type="text" class="form-control input-sm"/>
                                    <div id="tree"></div>
                                </div>
                            </td>
                            <td>
                                <span class="font-red">*</span> 排序号
                            </td>
                            <td>
                                <input id="sortNum" type="text" class="form-control input-sm"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-red">*</span> 名称(内容)
                            </td>
                            <td colspan="3">
                                <input id="categoryName" type="text" class="form-control input-sm"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="font-red">*</span> 状态
                            </td>
                            <td>
                                <label class="radio-inline">
                                    <input checked="true" type="radio" value="1" name="inlineRadioOptions"/> 启用
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="0" name="inlineRadioOptions"/> 禁用
                                </label>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-btn-save" type="button" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--模态框end-->
<script type="text/javascript" src="../../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../vendor/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="../../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../../vendor/template-web-min.js"></script>
<script type="text/javascript" src="../../../js/public.js"></script>

<script id="template_table" type="text/html">
    {{set temp = 1}}
    <% for(var i=0; i < array.length; i++) {%>
        <tr>
            <td><input type="checkbox"/></td>
            <td><%= temp++ %></td>
            <td><a href="javascript:;" class="cmt-tree L1"><%= array[i].text %></a></td>
            <td>
                <% if (array[i].status == 0) { %>
                <span class="font-red">
                        <%= array[i].status %>
                    </span>
                <% } else { %>
                <%= array[i].status%>
                <% } %>
            </td>
            <td><%= array[i].creator %></td>
            <td><%= array[i].lastModifiedTime %></td>
        </tr>
        <% if (array[i].nodes != null) { %>
            <% for(var j=0; j < array[i].nodes.length; j++) {%>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><%= temp++ %></td>
                    <td><a href="javascript:;" class="cmt-tree L2"><%= array[i].nodes[j].text %></a></td>
                    <td>
                        <% if (array[i].nodes[j].status == 0) { %>
                        <span class="font-red">
                                    <%= array[i].nodes[j].status %>
                                </span>
                        <% } else { %>
                        <%= array[i].nodes[j].status%>
                        <% } %>
                    </td>
                    <td><%= array[i].nodes[j].creator %></td>
                    <td><%= array[i].nodes[j].lastModifiedTime %></td>
                </tr>
            <% } %>
        <% } %>
    <% } %>
</script>

<script>

    var $tree = $("#tree"),
            $selectInput = $(".mt-select input");
    $selectInput.on("click", function () {
        $tree.slideToggle(200);
        return false;
    });
    $('.modal').on('click', function () {
        $tree.slideUp(200);
    });

    $.ajax({
        type: "GET",
        url: "/getCategoriesOfTree",
        success: function (data) {
            console.log(data);
            var obj={
                array : data
            };
            var my_table = template('template_table', obj);
            $('#categoryTable').html(my_table);
        }
    });

    $('#query').click(function () {
        var medium = $('#medium').val();
        var category = $('#category').val();
        console.log(category);
        $.ajax({
            type: "GET",
            url: "/getCategoriesOfTree",
            data:{
              medium : medium,
              mainCategory : category
            },
            success: function (data) {
                console.log(data);
                var obj={
                    array : data
                };
                var my_table = template('template_table', obj);
                $('#categoryTable').html(my_table);
            }
        });
    });

    $.ajax({
        type: "GET",
        url: "/getCategoriesOfTree",
        success: function (mydata) {
           // console.log(data);
            var data = [{
                text : "宣传信息类别",
                id : "",
            }];
            data[0].nodes = mydata;
            console.log(data);
            $tree.treeview({
                data: data,
                showBorder: false
            });
            $tree.on('nodeSelected', function (event, data) {
                //console.log(data);
                $selectInput.val(data.text);
                if (data.pid === "")
                    $selectInput.data('treeId', data.id);
                else
                    $selectInput.data('treeId', "");
                $tree.slideUp(200);
                console.log($selectInput.data('treeId'))
            });
            $tree.on('click', function () {
                return false;
            });
        }
    });
    $('#modal-btn-save').on('click', function () {
        if ($selectInput.data('treeId') === "") {
            message.add("请选择一个父节点", "warning");
            return;
        }
        var propagandaInformationCategory = {
                pid : $selectInput.data('treeId'),
                sortNum : $('#sortNum').val(),
                name : $('#categoryName').val(),
                status : $("input[name='inlineRadioOptions'][checked]").val()
            };
        console.log(propagandaInformationCategory);
        $.ajax({
            type: "POST",
            url: "/addPropagandaInformationCategory",
            data: JSON.stringify(propagandaInformationCategory) ,
            dataType: "json" ,
            contentType : "application/json",
            success: function (data) {
                console.log(data);
            }
        });

        $('#modal').modal('hide')

    });


</script>
</body>
</html>