<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>宣传计划列表</title>
    <link rel="stylesheet" href="../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/public.css"/>
    <link rel="stylesheet" href="../../css/newPublicityPlanList.css"/>
    <link rel="stylesheet" href="../../vendor/jquery.my-message/css/jquery.my-message.1.1.css"/>
</head>

<body>
<div class="container-fluid setMinWidth new-publicity-plan-list">
    <div class="handle-top">
        <form class="form-inline">
            <div class="form-group">
                <label>标题:</label>
                <input id="title" type="text" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label>申请人:</label>
                <input id="draftMan" type="text" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label>拟稿时间:</label>
                <input id="draftDate" type="text" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label>类别:</label>
                <select  id="planTransactionCategory" class="form-control input-sm">
                    <option value="">全部</option>
                    <option value="宣传计划">宣传计划</option>
                    <option value="招募计划">招募计划</option>
                    <option value="采血计划">采血计划</option>
                    <option value="经费预算计划">经费预算计划</option>
                    <option value="纪念品采购计划">纪念品采购计划</option>
                    <option value="物料计划">物料计划</option>
                    <option value="活动计划">活动计划</option>
                </select>
            </div>
            <div class="form-group">
                <label>状态:</label>
                <select id="approvalStatus" class="form-control input-sm">
                    <option value="">全部</option>
                    <option value="0">草稿</option>
                    <option value="1">待审批</option>
                    <option value="2">审核中</option>
                    <option value="3">执行中</option>
                    <option value="4">已完成</option>
                    <option value="5">已归档</option>
                </select>
            </div>
            <button id="queryBtn" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-search"></span>
                查询
            </button>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-repeat"></span>
                重置
            </button>
        </form>
    </div>
    <div class="handle-button-group">
        <a href="/propagandaBusiness/propagandaWorkPlan/goPropagandaWorkPlanApply" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> 新建
        </a>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-file"></span> 归档
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <spam class="glyphicon glyphicon-remove"></spam>
            删除
        </button>
    </div>
    <div class="data-table">
        <table class="table table-bordered table-hover checked-table">
            <thead>
            <tr>
                <th><input type="checkbox"/></th>
                <th>No.</th>
                <th>标题</th>
                <th>类别</th>
                <th>拟稿人</th>
                <th>拟稿时间</th>
                <th>计划所属年月</th>
                <th>完成情况</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody id="ppgdaTable">
            </tbody>
        </table>
    </div>
    <div class="page">
        <ul class="pagination pagination-sm">
            <li class="disabled">
						<span href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</span>
            </li>
            <li class="active">
                <span href="#">1</span>
            </li>
            <li>
                <span href="#">2</span>
            </li>
            <li>
                <span href="#">3</span>
            </li>
            <li>
                <span href="#">4</span>
            </li>
            <li>
                <span href="#">5</span>
            </li>
            <li>
						<span href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</span>
            </li>
            <li class="li-page-handle">
                转到第
                <input type="text" class="form-control input-sm"/> 页
                <button type="button" class="btn btn-default btn-sm">
                    GO
                </button>
            </li>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../../vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="../../js/public.js"></script>
<script type="text/javascript" src="../../../vendor/template-web-min.js"></script>
</body>
<script id="template_table" type="text/html">
    {{set temp = 1}}
    {{each content as ppgdaInfo p}}
    <tr>
        <td><input data-id="{{ppgdaInfo.id}}" type="checkbox"/></td>
        <td>{{temp++}}</td>
        <td><a class="open-win"
               href="/propagandaBusiness/propagandaInformation/goPropagandaInformationDetails/{{ppgdaInfo.id}}">{{ppgdaInfo.title}}</a>
        </td>
        <td>{{ppgdaInfo.planTransactionCategory}}</td>
        <td>{{ppgdaInfo.draftMan.name}}</td>
        <td>{{ppgdaInfo.draftDate}}</td>
        <td>{{ppgdaInfo.planCategory}}</td>
        <td> 0 %</td>
        <td>
            {{if ppgdaInfo.approvalStatus == 0}}
            待审批
            {{else if ppgdaInfo.approvalStatus == 1}}
            审核中
            {{else if ppgdaInfo.approvalStatus == 2}}
            执行中
            {{else if ppgdaInfo.approvalStatus == 3}}
            已完成
            {{else if ppgdaInfo.approvalStatus == 4}}
            <span class="font-red">已归档</span>
            {{/if}}

        </td>
    </tr>
    {{/each}}
</script>

<script>
    var customData = {
        "currentPage": 1,
        "limit": 10,
        title: null,
        draftMan: null,
        draftDate: null,
        approvalStatus: null,
        planTransactionCategory: null
    };

    $(function () {
        ppgdaInfoSumbit(null);
    });


    $("#queryBtn").click(function (e) {

        customData.title = $('#title')[0].value;
        customData.draftMan = $('#draftMan')[0].value;
        customData.draftDate = $('#draftDate')[0].value;
        customData.approvalStatus = $('#approvalStatus')[0].value;
        customData.planTransactionCategory = $('#planTransactionCategory')[0].value;

        ppgdaInfoSumbit(customData);

    });

    function ppgdaInfoSumbit(information) {

        var data = dataSetting(information);
        loading.show();
        $.ajax({
            type: "POST",
            url: "/getPropagandaWorkPlanByQueryCondition",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                var my_table = template('template_table', data);
                $('#ppgdaTable').html(my_table);
                console.log(data);
                loading.hide();
            }
        });
    }

    function dataSetting(data) {

        var currentPage = 1;
        var limit = 10;
        var ppgdaInfo = null;

        if (data !== null) {
            ppgdaInfo = {
                title: data.title,
                draftMan: {
                    name: data.draftMan
                },
                draftDate: data.draftDate,
                planTransactionCategory: data.planTransactionCategory,
                approvalStatus: data.approvalStatus
            }
        }

        return {
            currentPage: currentPage,
            limit: limit,
            propagandaWorkPlan: ppgdaInfo
        };

    }

</script>

</html>