<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>宣传信息发布统计</title>
    <link rel="stylesheet" href="../../../vendor/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/statisticsPagePublic.css"/>
</head>

<body>

<div class="statistics setMinWidth">
    <h3>宣传信息发布统计</h3>
    <div class="s-handle-panle">
        <div class="s-hp-top">
            <form class="form-inline">
                <div class="form-group">
                    <label>统计年月&nbsp;:&nbsp;</label>
                    <input name="startDate" type="date" class="form-control input-sm"> -
                    <input name="endDate" type="date" class="form-control input-sm">
                </div>
            </form>
        </div>
        <div class="s-hp-middle">
            <form class="form-inline">
                <div class="form-group">
                    <label>统计方式&nbsp;:&nbsp;</label>
                    <label class="radio-inline">
                        <input type="radio" checked="ture" name="way" value="数量及完成情况统计">数量及完成情况统计
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="way" value="明细及完成情况统计"> 明细及完成情况统计
                    </label>
                </div>
                <button type="button" class="btn btn-default btn-sm">
                    导出
                </button>
                <button id="btn-reset" type="button" class="btn btn-default btn-sm">
                    重置
                </button>
                <button id="btn-query" type="button" class="btn btn-default btn-sm">
                    查询
                </button>
            </form>
        </div>
        <div class="s-hp-bottom">
            <form class="form-inline">
                <div class="form-group">
                    <label>排序&nbsp;:&nbsp;</label>
                    <label class="radio-inline">
                        <input checked="ture" type="radio" name="sortWay" value="按类别"> 按类别
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sortWay" value="按数量"> 按数量
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sortWay" value="按进度"> 按进度
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="s-chart">
        <canvas id="myChart" width="1022" height="500"></canvas>
    </div>
</div>
<script type="text/javascript" src="/vendor/jquery1.9.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/chart.js"></script>
<script type="text/javascript" src="/vendor/jquery.my-message/js/jquery.my-message.1.1.js"></script>
<script type="text/javascript" src="/js/public.js"></script>

<script>
    var ctx = $("#myChart").get(0).getContext("2d");
    var dataChart = new Chart(ctx);
    var data = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                data: [65, 59, 90, 81, 56, 55, 40]
            },
            {
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,1)",
                data: [28, 48, 40, 19, 96, 27, 100]
            }
        ]
    }
    dataChart.Bar(data, {});
    setBtnQuery(function (data) {
        console.log(data.startDate)
        console.log(data.endDate)
        console.log(data.way)
        console.log(data.sortWay);
    });

</script>
</body>

</html>